*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #767cd3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    /* border-radius: 1rem; */
    margin: auto;
    padding: 2px 12px 17px 12px;
}

.zekeContainer{
    max-width: 600px;
    padding: 20px;
    margin: 10px;
    border-radius: 1rem;
    border: 1px solid #000;
    background-color: rgb(250, 244, 244);
    box-shadow: 4px 3px 5px rgb(1, 1, 1, 0.3);
}

h1 {
    color: #000ecb;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.title{
    font-size: 20px;
}

.formContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.formBox{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    color: #000ecb;
    margin-bottom: 5px;
}


input, select, textarea{
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #000;
}

input:focus{
    outline-color: rgb(170, 84, 84);
    /* outline-style: initial; */
}

.button_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    /* color: #000ecb; */
    background-color: #000ecb;
    cursor: pointer;
    border: 1px solid #000ecb;
    transition: 0.2s ease-in;
    border: transparent solid 2px;
}

button:hover{
    color: #000ecb;
    background-color: transparent;
    border: 1px solid #000ecb;
}

.textareaBox{
    grid-column: 1 / span 2;
}

textarea{
    width: 100%;
    resize: none;
}

